
.background{
   @media screen and (max-width: 992px);
   width: 1350px;
   height: 660px;
}

#myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
   z-index: -1;
 }

.navigation{
   width: 1350px;
   height: 100px;
}

.h1{
   text-align: center;
   font-size: 70px;
   color: white;
}

.h2{
   text-align: center;
   font-size: 20px;
   color: white;
}

.msgh1{
   text-align: center;
   font-size: 70px;
   font-family: BlizzardD;
   color: #195087;
   position: absolute;
   top: 67px;
   left: -68px;
   background-color: transparent;
   border: transparent;
  
}

.textbox{
   background-color: transparent;
   color: rgb(255, 255, 255);
   font-size: 15px;
   font-family:Comic Sans MS;
   text-transform: capitalize;
}

.bottom{
   width: 1350px;
   height:550px;
}

.right{
   width: 334px;
   height: 112px;
   position: absolute;
   left: 56px;
   top: 227px;
   border-style: solid;
   border-color: white;
}



.container{
   position: absolute;
   width: 450px;
   height: 550px;
   align-items: center;
   left: 32%;
   top: 5%
}

.flex-container {
   display: flex;
   justify-content: center;
   background-color: rgb(241, 241, 242);
}

.flex-container > div {
   background-color: rgb(14, 13, 13);
   width: 115px;
   height: 115px;
   margin: 15px;
   text-align: center;
   line-height: 180px;
   font-size: 0px;
   border-radius: 5px;
   border: solid;
   border-color: #010003;
   background-repeat: no-repeat;
   background-size: 110px 110px;
}

.left{
   width: 450px;
   height: 550px;
}


.popup{
   position: absolute;
   width: 450px;
   height: 410px;
   align-items: center;
   left: 32%;
   top: 10%;
   z-index: -1;
   
  
}

.btnclose {
   float: left;
   color: #195087;
   font-size: 40px;
   font-weight: bold;
}



